.container {
  height: 15em;
  width: 15em;

  display: grid;

  grid-gap: 0.5em;


  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
            ". up ."  
            "left center right" 
            ". down .";
}

.container > .upArrow {
  grid-area: up;

}

.container > .downArrow {
  grid-area: down;
}
.container > .leftArrow {
  grid-area: left;
  justify-self: right;
}
.container > .rightArrow {
  grid-area: right;
  justify-self: left;
}

.container > .stopButton {
  grid-area: center;
  font-size: 3em;
  padding: 0.5em;
}

.arrowButton {
  border: none;
  text-align: center;
  /* display: inline-block; */
  padding: 0.75em;
  margin: auto;
  border-radius: 10px;
  font-size: 2em;

  background-color: #8acaf8;
  box-shadow: 0 6px #999;
}

.arrowButton:active {
  background-color: #6da1c6;
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}
